body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.header {
    background-color: blanchedalmond;
    color:black;
    padding: 2rem 10px;
}

h1 {
    color: white;
    font-size: 30px;
    text-align: center;
}
main img{
    height: 200px;
    width:100%;
}
h4{
    color: rgb(15, 1, 37);
    font-size: 25px;
    text-align: left;
}
main .text-r{
    text-align: justify;
   
}  
main h3{
    text-align: center;
    font-size: 40px;
    color: rgb(235, 211, 211);
}    
    


footer {
    background-color: rgb(66, 47, 47);
    height: 150px;
}

footer h3{
    color: rgb(43, 20, 20);
    font-size: 30px;
    text-align: center;
    
}